html {
  font-family: sans-serif;
  line-height: 1.5;
  text-align: justify;
}

header[role=banner],
main[role=main],
footer[role=contentinfo] {
  margin: 1rem auto;
  max-width: 33rem;
}

header[role=banner] {
  margin-top: 4rem;
  text-align: center;
}

header[role=banner] img {
  max-width: 7rem;
}

header[role=banner] h1 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  text-align: center;
}

.slogan {
  margin-top: 0.25rem;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

footer[role=contentinfo] {
  border-top: 1px solid black;
  font-size: 85%;
  margin-bottom: 4rem;
  text-align: right;
}

.versions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a[href] {
  text-decoration: dashed underline;
}

a[href]:hover {
  text-decoration: underline;
}

td {
  padding: 0 1rem;
}

ins {
  color: green;
  text-decoration: underline;
}

ins a[href] {
  color: green;
  font-weight: bold;
}

del {
  color: red;
  text-decoration: line-through;
}

del a[href] {
  color: red;
  font-weight: bold;
}

.changed {
  background: #fcfccc;
}

aside {
  border: 1px solid #ddd;
  margin: 1rem 0;
  padding: 0 1rem;
}

.twoColumn {
  column-count: 2;
  padding-left: 1rem;
}

.twoColumn li {
  margin-top: 0;
}

figure {
  color: #777;
  text-align: center;
}
