html {
  font-family: sans-serif;
  line-height: 1.5;
}

header[role=banner],
main[role=main],
footer[role=contentinfo] {
  margin: 1rem auto;
  max-width: 30rem;
}

header[role=banner] {
  margin-top: 4rem;
  text-align: center;
}

footer[role=contentinfo] {
  margin-bottom: 4rem;
}

.versions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

td {
  padding: 0 1rem;
}

ins {
  color: green;
  text-decoration: underline;
}

ins a[href] {
  color: green;
  font-weight: bold;
}

del {
  color: red;
  text-decoration: line-through;
}

del a[href] {
  color: red;
  font-weight: bold;
}

.changed {
  background: #fcfccc;
}

aside {
  border: 1px solid #ddd;
  padding: 0 1rem;
}
